.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--White);
}
.score-card {
  background: var(--gradient-background);
  color: var(--Light-lavender);
  padding: 2rem;
  text-align: center;
  width: 100%;
  border-radius: 0 0 2.5rem 2.5rem;
}
.score-card .score-title {
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 0.0125rem;
}
.score-card .score-circle {
  background: var(--gradient-circle);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem auto;
}
.score-circle h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--White);
}
.score-circle p {
  font-size: 0.95rem;
  font-weight: 700;
  color: hsl(252, 100%, 78%);
}
.score-card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--Pale-blue);
}
.score-remark {
  width: 15rem;
  margin: 0.5rem auto 1rem;
  font-size: 0.95rem;
  font-weight: 500;
}

.summary-card {
  padding: 1rem 2rem 2rem;
}
.summary-card h4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--Dark-gray-blue);
  margin: 1rem 0;
}
.test-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.test-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background: hsla(166, 100%, 90%, 0.5);
  border: 1px solid  var(--Green-teal);
  font-weight: 600;
}
.test-type .average-score {
  font-weight: 800;
}
.average-score span {
    color: var(--Light-lavender);
}
.btn {
  background: var(--Dark-gray-blue);
  color: var(--White);
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 0.95rem;
  cursor: pointer;
}